@font-face {
    font-family: 'starpolice';
    src: url('Starjout.ttf');
}
p
{
  width: 600px;
  color: green;
  margin: 0px auto;
  text-align: center ;
  font-family: helvetica, sans-serif;
  font-size: 2.0em;
}

body
{
  width: 950px;
  margin: 0px auto;
  padding: 0;
  text-align: center ;
  font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
  /*background: #000 ;*/
  background:url(arriere_plan.jpg) no-repeat center;
  background-size:cover;
}
div#block1
{
  width: 900px ;
  height: 234px;
  margin: 0 auto;
  margin-top:-70px;
  text-align: center ;
  /*border-radius: 30px ;*/
  /*background: #000 ;*/
  /*border: 2px dashed #ffffff;*/
}
div#block2
{
  width: 900px ;
  height: 234px;
  margin: 0 auto;
  margin-top:-70px;
  text-align: center ;
  /*border-radius: 30px ;*/
  /*background: #000 ;*/
  /*border: 2px dashed #ffffff;*/
}
div#conteneur
{
  width: 900px ;
  height: 234px;
  margin: 0 auto ;
  margin-top:-234px;
  text-align: center ;
  horizontal-align: center;
  border-radius: 30px ;
  /*background: #fff ;*/
  /*border: 2px dashed #f69c55;*/
}
div#titre1
{
  height: 180px;
  line-height: 310px;
  width: 900px;
  margin-left:0px;
  text-align: center;
  horizontal-align:center;
  vertical-align:center;
  font-size: 3.5em;
  font-family: 'starpolice';
  color: white;
  /*border: 2px dashed #f69c55;*/
}
div#titre2
{
  height: 400px;
  line-height: 320px;
  margin-top:-100px;
  width: 900px;
  margin-left:0px;
  text-align: center;
  horizontal-align:center;
  vertical-align:center;
  font-size: 2.0em;
  font-family: 'starpolice';
  color: white;
  /*border: 2px dashed #f69c55;*/
}
h1#header
{   
  border-radius: 30px;
  /*border-style: inset;*/ /*Bordure du titre*/
  width: 900px;
  height: 198px;
  margin-top:0px;
  margin-left:0px;
  background: url(sabre_laser_bleu_1.png) no-repeat center;
  background-size:cover; 
  /*border: 2px dashed #ffffff;*/          
}
h2#header2
{   
  border-radius: 30px;
  /*border-style: inset;*/ /*Bordure du titre*/
  width: 900px;
  height: 198px;
  margin-top:-20px;
  margin-left:0px;
  background: url(sabre_laser_vert_1.png) no-repeat center;
  background-size:cover; 
  /*border: 2px dashed #ffffff;*/            
}
div#conteneur1
{
  width: 950px ;
  margin: 0px auto ;
  margin-top:-75px;
  margin-bottom:60px;
  text-align: left ;
  border-radius: 30px ;
  border-style: inset;
  background: #eee ;
  /*border: 2px dashed #f69c55;*/
}
div#intro1
{
  width: 900px ;
  margin: 20px auto;
  Padding-top:0px;
  text-align: justify ;
  font-size: 1.5em;
  border-radius: 30px ;
  background: #eee ;
  /*border: 2px dashed #f69c55;*/
}
div#intro2
{
  text-align: center;
}
span#marge {
margin-left: 40px;
}
/*
div#app1
{   
  border-radius: 30px;
  border-style: inset; /*Bordure du titre*/
  width: 200px;
  height: 200px;
  background: url(IconBatailleNavale.png) no-repeat ;             
}
*/
