@font-face {
    font-family: 'Franchise';
    src: url('Franchise.ttf');
}
p
{
  color: green;
  text-align: center ;
  font-family: helvetica, sans-serif;
  font-size: 1.0em;
}

body
{
    margin: 10px 0 ;
    padding: 0;
    text-align: center ;
    font: 0.7em "Trebuchet MS", helvetica, sans-serif ;
    background: #000 ;
}
div#block1
{
  width: 480px ;
  height: 150px;
  margin: 0 auto;
  text-align: center ;
  border-radius: 30px ;
  background: #000 ;
  border: 0px dashed #000000;
}
div#conteneur
{
  width: 480px ;	
  height: 150px;
  margin: 0 auto ;
  margin-top:-150px;
  text-align: center ;
  border-radius: 30px ;
  background: #fff ;
  /*border: 2px dashed #f69c55;*/
}
div#titre1
{
  height: 100px;
  line-height: 100px;
  width: 480px;
  margin-left:100px;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Franchise';
  border: 0px dashed #f69c55;
}
div#titre2
{
  height: 200px;
  line-height: 200px;
  margin-top:-100px;
  margin-left:100px;
  width: 480px;
  text-align: center;
  font-size: 1.75em;
  font-family: 'Franchise';
  border: 0px dashed #ffffff;
}
h1#header
{   
  border-radius: 30px;
  border-style: inset; /*Bordure du titre*/
  width: 460px;
  height: 150px;
  background: url(bandeau_small.jpg) no-repeat ;             
}
div#conteneur1
{
  width: 480px ;
  margin: 20px auto ;
  text-align: left ;
  border-radius: 30px ;
  border-style: inset;
  background: #eee ;
  /*border: 2px dashed #f69c55;*/
}
div#intro1
{
  width: 460px ;
  margin: 20px auto;
  Padding-top:0px;
  text-align: justify ;
  font-size: 1.25em;
  border-radius: 30px ;
  background: #eee ;
  /*border: 2px dashed #f69c55;*/
}
div#intro2
{
  text-align: center;
}
